@page
@model IndexModel

<h1>Welcome to Blockbusters Movies</h1>
<p>
    <a asp-page="Create" class="btn btn-success">Create New Movie</a>
</p>


<p>Explore our movie collection!</p>

<a asp-page="/Movies/Index" class="btn btn-primary">Go to Movies</a>

